.choice-container{
    display: flex;
    margin-bottom: 0.8rem;
    width: 70%;
    border-radius: 4px;
    background-color: aliceblue;
    min-width: 80rem;
    font-size: 2rem;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0;
    box-shadow: 0 0.2rem 1.3rem 0 rgb(129, 128, 128);
    transition: transform 150ms;
    transform: scale(1.02);
}


.choice-text{
    padding: 2rem;
    width:100%;
}

.correct{
    background: rgb(68, 190, 119);
}

.incorrect{
    background: rgb(255, 67, 67);
}


#quiz-header{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top:2rem;
    margin-bottom: none;
}

.quiz-header-item{
    height:11rem;
}

.quiz-header-prefix{
    text-align: center;
    font-size: 2rem;
}

.quiz-header-text{
    margin-top: 30px;
    margin-bottom: none;
    text-align: center;
}

#progress-bar{
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid pink;
    margin-top: 2rem;
    border-radius: 50px;
    overflow:hidden;
}

#progress-bar-full{
    height: 100%;
    background: pink;
    width: 0%;
}

#question{
    margin-top: none;
    margin-bottom: 4rem;
    width: 90%;
    line-height: 1.4;
}

@media only screen and (max-width: 768px) {
    #question{
        font-size: 1.5rem;
        line-height: 1.4;
    }
    .choice-container{
        display: flex;
        margin-bottom: 0.2rem;
        border-radius: 4px;
        background-color: aliceblue;
        font-size: 0.7rem;
        min-width: 20rem;
    }
    .choice-text{
        padding: 1.4rem;
        line-height: 2;
    }
    .quiz-container{
        font-size: 0.8rem;
    }

    #quiz-header{
        font-size: 0.8rem;
    }
    .quiz-header-item{
        height:5rem;
    }
    .quiz-header-prefix{
        text-align: center;
        font-size: 0.8rem;
    }
    .quiz-header-text{
        font-size: 0.7rem;
        margin-top: 0.7rem;
    }
    #progress-bar{
        width: 7rem;
        height: 1rem;
        border: 0.2rem solid pink;
        margin-top: 0.5rem;
        border-radius: 50px;
        overflow:hidden;
    }
}