@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P';
}

h1 {
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 10rem;
}
.warning-container{
    width: 120vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.indexContainer{
    display: flex;
    margin: auto;
    max-width: 80%;
    height: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#indexVideo{
    width: 65vw;
    height: auto;
    border: 0.8rem solid rgb(250, 156, 56);
    border-radius: 7px;
}

.instructions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    flex-direction: column;
    color:aliceblue;
    width: 90%;
}

.instruction-text {
    margin-bottom: 20px;
    text-align: justify;
    line-height: 2;
    background-color:rgb(3, 105, 160);
    text-indent: none;
    padding: 1rem;
    border-radius: 7px;
}

#paragraph {
    text-indent: 4rem;
}

#list {
    list-style-type: none;
}

#indexImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 30%;
}

body{
    background-color: rgb(97, 163, 220);
}

.button {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1rem;
    color: aliceblue;
    background-color: rgb(244, 246, 245);
    border-radius: 7px;
}

.button:hover{
    cursor: pointer;
    box-shadow: 0 0.2rem 1.3rem 0 green;
    transition: transform 150ms;
    transform: scale(1.02);
}

#start-button{
    background-color: rgb(68, 190, 119);
    margin-top: 20px;
}

#home-button{
    background-color: rgb(250, 156, 56);
    margin-top: none;
}

#home-button:hover{
    box-shadow: 0 0.2rem 1.3rem 0 rgb(149, 110, 9);
}

#forfeit-button {
    margin-top: 40px;
    background-color: rgb(251, 71, 71);
    font-size: 1.7rem;
    width: 20rem;
}

#forfeit-button:hover{
    box-shadow: 0 0.2rem 1.3rem 0 rgb(186, 0, 0);
}

#final-score{
    display: block;
    font-size: 2rem;
    background: rgb(3, 105, 160);
    padding: 0.7rem;
    color: aliceblue;
    border-radius: 7px;
}

#final-text {
    color: aliceblue;
    display:block;
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1rem;
}

#end-video {
    width: 65vw;
    height: auto;
    border: 0.8rem solid rgb(250, 156, 56);
    border-radius: 7px;
}

#signature{
    margin-top: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
    #indexImg{
        width: 60vw;
    }
    #indexVideo{
        width: 80vw;
    }
    .instructions{
        width: 90vw; 
        font-size: 0.6rem;
    }
    .instruction-text{
        line-height: 2.7;
    }
    #paragraph{
        text-indent: 0.8rem;
    }
    .button {
        font-size: 0.8rem;
        padding: 1.6rem 0.6rem;
        width: 12rem;
        text-align: center;
        text-decoration: none;
        margin-bottom: 1rem;
        color: aliceblue;
        background-color: rgb(244, 246, 245);
        border-radius: 7px;
    }
     
    #forfeit-button {
        margin-top: 40px;
        background-color: rgb(251, 71, 71);
        font-size: 0.8rem;
        width: 8rem;
    }
    
    .warning-container{
        width: 20%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 30rem;
        margin: 0 auto;
    }

    h1 {
        font-size: 30px;
        color: aliceblue;
        margin-bottom: 4rem;
        margin-top: 1rem;
    }

    #warning-text{
        font-size: 27px;
    }

    #signature{
        font-size: 0.6rem;
    }

    #end-video{
        width: 80vw;
    }

    #final-score{
        font-size: 0.7rem;
    }

    #final-text {
        font-size: 0.5rem;
    }
}